/* styles/Home.module.css */

body{
  background-color: #e7e6e9;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.trash-item {
    margin: 20px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    max-height: 50%;
    text-align: center;
    text-transform: capitalize;
    background-color: #13b3ec;
    min-width: 7rem;
    max-width: 7rem;
    box-shadow: 0px 4px 8px 0px rgba(34, 20, 20, 0.2);
}

.wrongGuess
{
  background-color: #fc0339;
}

.correctGuess
{
  background-color: #14eb53;
}

@keyframes score-increase {
  0% { transform: scale(1); }
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
}

.score {
  transition: transform 1s;
}

.toiletImage{
  width: 100px;
  height: 200px;
}

.trashCanImage{
  width: 100px;
  height: 200px;
}